/**
 * Custom site styles
 */
h1 {
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 16px;
}

h2 {
  width: 100%;
  max-width: 528px;
  text-align: center;
  font-size: 32px;
  margin-bottom: 72px;
}

h3 {
  font-size: 24px;
  margin-bottom: 16px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
  }
}

.col {
  display: flex;
  flex-direction: column;
  width: 48%;

  @media screen and (max-width: 1200px) {
    width: 100%;
    max-width: 900px;
  }
}

.alignCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 104px 0;

  p {
    font-size: 18px;
    line-height: 28.8px;
    color: $secondary-text;
  }
  @media screen and (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
    padding: px 0;
  }
}


.ctaWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  .buttonMargin {
    margin-right: 32px;

    @media screen and (max-width: 1200px) {
      margin-right: 0;
    }

  }

  @media screen and (max-width: 1200px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.button {
  color: #f3f3f3;
  font-size: 14px;
  padding: 16px;
  min-width: 176px;
  margin-top: 56px;
  transition: all 0.2s ease-out;
}

.primary {
  background-color: $brand-color;

  &:hover {
    background-color: #4f2196;
  }
}

.buttonIcon {
  background-color: $brand-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease-out;

  &:hover {
    background-color: #4f2196;
  }
}

.buttonOutline {
  outline: 1px solid #f3f3f3;
  outline-offset: -1px;
  transition: all 0.2s ease-out;

  &:hover {
    background-color: #f3f3f3;
    color: #171717;
  }
}

.openSourceMark {
  margin: 8px 0 0 16px;
  font-size: 12px;
  color: $secondary-text;
  font-weight: 300;
}

.terminal {
  width: 100%;
  height: auto;
  background-color: #3d3d3d;
  border-radius: 2px;
  box-shadow: 0 4px 16px rgba(0,0,0,.40);
  display: flex;
  flex-direction: column;
  padding: 0 0 24px 0;

  .terminalHeader {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .windowButton {
      width: 8px;
      height: 8px;
      border-radius: 50%;

      &:not(:last-child) {
        margin-right: 8px;
      }
    }

    .red {
      background-color: #FF8383;
    }

    .yellow {
      background-color: #FFE484;
    }
    
    .green {
      background-color: #38B2AC;
    }
  }

  .terminalContent {
    width: 100%;
    padding: 0 16px 16px 16px;

    p {
      font-size: 14px;
      color: $secondary-text;
      margin: 0;
    }
  }

  @media screen and (max-width: 1200px) {
    margin-top: 32px;
  }

}
/**
 * Site header
 */
.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 32px;

  @media screen and (max-width: 1200px) {
    padding: 24px 16px;
  }
}

.site-title {
  @include relative-font-size(1.625);
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 300;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  color: #f3f3f3 !important;
  font-size: 28px;
  width: auto;

  img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
  }

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.topBar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  max-width: 1312px;
  box-sizing: border-box;
  padding: 0 32px;

  .linkDivider {
    height: 24px;
    width: 1px;
    background-color: #8A3FFC;
    margin: 0 32px 0 0;

    @media screen and (max-width: $on-palm) {
      background-color: transparent;
    }
  }

  .navItems {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: $on-palm) {
      flex-direction: column;
      width: 50%;
    }
  }

  @media screen and (max-width: 1200px) {
    padding: 0;
    width: 100%;
  }
}

.site-nav {
  display: flex;
  flex-direction: row;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    font-size: 18px;
    font-weight: 300;
    transition: all 0.2s ease-out;
    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 32px;
    }

    &:hover {
      color: $brand-color;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 24px;
    right: 16px;
    background-color: $background-color;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: #f3f3f3;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

section {
  padding: 96px 0;
}

.offsetBG {
  background-color: #3d3d3d;
}

.supportText {
  max-width: 608px; 
  text-align: center; 
  margin: 0;
  color: $secondary-text;
}

.codeSnippets {

  p {
    font-size: 18px;
    color: $text-color;
    margin: 0;
  }

  .codeBlock {
    background-color: $background-color;
    padding: 16px;
    width: 100%;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0,0,0,.2);
    font-size: 16px;
    margin: 16px 0 32px 0;
    transform: translateX(-16px);

    .comment, .code {
      margin-bottom: 8px;
    }

    .comment {
      color: $secondary-text;
    }

    @media screen and (max-width: $on-tablet) {
      transform: translateX(0);
    }
  }

}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 384px;
  background-color: #3D3D3D;
  box-shadow: 0 4px 16px rgba(0,0,0,.4);
  border-radius: 2px;
  transform: translateX(-16px);

  .image {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    img {
      width: 100%;
    }
  }

  .cardContent {
    display: flex;
    flex-direction: column;
    padding: 16px;

    p {
      font-size: 14px;
      color: $secondary-text;
      line-height: 22.4px;
    }
  }

  @media screen and (max-width: 1200px) {
    transform: translateX(0);
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1200px) {
    transform: translateX(0);
    margin-bottom: 32px;
  }
}

.supportWrapper {
  display: flex;
  flex-direction: row;
  max-width: 300px;
  align-items: center;
  margin-top: 48px;

  img {
    margin-left: 32px;
    height: 32px;
  }

  .button {
    margin: 0;
  }
}

.externalLinks {
  display: flex;
  flex-direction: column;
  max-width: 1312px;

  .col {
    align-items: flex-start;
    max-width: 448px;
  }

  p {
    max-width: 448px;
    color: $secondary-text;
  }

  .fixedHeight {
    min-height: 280px;
    position: relative;

    .button {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

.divider {
  height: 200px;
  width: 1px;
  background-color: #6F6F6F;
  margin-top: 56px;

  @media screen and (max-width: 1200px) {
    background-color: #3d3d3d;
    width: 156px;
    height: 1px;
  }
}


/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
