<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <!-- {{ content }} -->
        <div class="heroWrapper">
          <div class="col">
            <h1>A multi-cluster continuous delivery tool for Kubernetes</h1>
            <p>Automate the rollout process of Kubernetes resources across multiple clusters, environments, and cloud providers, and gain insight into what applications and versions run in your cluster.</p>
            <div class="ctaWrapper">
              <a class="button primary buttonMargin" href="#get-razee">Try out RazeeDash</a>
              <a class="button buttonOutline" href="#why-razee">Why Razee?</a>
            </div>
            <span class="openSourceMark">An IBM open source project</span>
          </div>
          <div class="col">
            <div class="terminal">
              <div class="terminalHeader">
                <div class="windowButton red"></div>
                <div class="windowButton yellow"></div>
                <div class="windowButton green"></div>
              </div>
              <div class="terminalContent">
                <p>MacBook-Pro:~ kubectl apply -f https://app.razee.io/api/install/inventory</p>
                <p>configmap "watch-keeper-config" unchanged</p>
                <p>
                  secret "watch-keeper-secret" created
                </p>
                <p>
                  namespace "razee" configured
                </p>
                <p>
                  clusterrole "cluster-reader" configured
                </p>
                <p>
                  serviceaccount "watch-keeper-sa" created
                </p>
                <p>
                  networkpolicy "watch-keeper-deny-ingress" configured
                </p>
                <p>
                  deployment "watch-keeper" configured
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section id="get-razee" class="offsetBG">
        <div class="wrapper alignCenter">
          <h2>Start automating the deployment to thousands of clusters with ease</h2>
          <div class="row">
            <div class="col codeSnippets">
              <p>Install RazeeDash</p>
              <div class="codeBlock col">
                <span class="comment"># RazeeDash install</span>
                <span class="code">kubectl apply -f https://github.com/razee-io/Kapitan-delta/releases/latest/download/resource.yaml</span>
                <span class="code">kubectl apply -f https://github.com/razee-io/Razee/releases/latest/download/resource.yaml</span>
              </div>
              <p>Try RazeeDash</p>
              <div class="codeBlock col">
                <span class="comment"># RazeeDash URL</span>
                <a href="https://app.razee.io"><span class="code">https://app.razee.io</span></a>
              </div>
            </div>
            <div class="col">
              <img src="/assets/images/clusterGraphic.svg" alt="Graphic showing dotted lines connecting all of your clusters from Razee.">
            </div>
          </div>
        </div>
      </section>
      <section id="why-razee">
        <div class="wrapper alignCenter">
          <h2>Why Razee</h2>
          <div class="row">
            <div class="card">
              <div class="image">
                <img src="/assets/images/visability.svg" alt="">
              </div>
              <div class="cardContent">
                  <h3>Visibility</h3>
                  <p>Dynamically create an inventory of your Kubernetes resources, and use filters and custom alerts in RazeeDash to easily find and troubleshoot issues in your deployment process. RazeeDash provides live and historical data so that you can quickly see what applications and versions are deployed in your clusters.</p>
              </div>
            </div>
            <div class="card">
              <div class="image">
                <img src="/assets/images/scale.svg" alt="">
              </div>
              <div class="cardContent">
                  <h3>Scale</h3>
                  <p>Designed for scale, Razee helps you to easily manage multi-cluster deployments by templatizing Kubernetes resources, grouping resources and clusters, and defining rules for these groupings to create a flexible configuration that is enforced across clusters, environments, and clouds. With the pull-based deployment architecture, clusters are equipped with everything they need to perform self-updates without manual intervention. All you have to do is to define your rules and let Razee help you achieve operational excellence.</p>
              </div>
            </div>
            <div class="card">
              <div class="image">
                <img src="/assets/images/openSource.svg" alt="">
              </div>
              <div class="cardContent">
                  <h3>Open source</h3>
                  <p>Join us on our journey to make Razee a powerful continuous delivery tool for Kubernetes with robust and secure components that you can easily plug in to your continuous delivery process to manage day-to-day challenges with multi-cluster deployments, promote automation, and eliminate errors.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Razee slack support section -->
      <section class="offsetBG">
        <div class="wrapper alignCenter">
          <h2 style="margin-bottom: 16px;">Get a little Razee support</h2>
          <p class="supportText">Join the Razee development team in the #razee Slack channel to learn more about Razee, discuss configuration options, or show us how you use the Razee components to build your own continuous delivery pipeline. We love to hear your feedback!</p>
          <div class="supportWrapper">
            <a class="button primary center" href="https://ibm-container-service.slack.com/messages/CJQG07QTX">Connect with us</a>
            <img src="/assets/images/slack-new-logo.svg" alt="Slack logo, razee support button">
          </div>
        </div>
      </section>
      <section>
        <div class="wrapper externalLinks">
          <div class="row">
            <div class="col fixedHeight">
              <h3>Get the code</h3>
              <p>Get the code and see for yourself how easy you can use the Razee components to set up your own multi-cluster continuous delivery pipeline and build an inventory of your Kubernetes resources. Contribute your ideas to the open source project and help us grow the Razee ecosystem.</p>
              <a href="https://github.com/razee-io" class="button buttonOutline">Contribute to Razee</a>
            </div>
            <div class="divider"></div>
            <div class="col fixedHeight">
              <h3>Try it out</h3>
              <p>Set up and host your own instance of RazeeDash and the RazeeDash API to build your own multi-cluster continuous delivery deployment tool and customize it to your needs.</p>
              <a href="https://github.com/razee-io/Razee#step-1-install-razee" class="button buttonOutline">Customize RazeeDash</a>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- removed footer for now -->
    <!-- {% include footer.html %} -->

  </body>

</html>
